<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Stopify</title>
    {{!--
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script>
        window.onSpotifyWebPlaybackSDKReady = () => {
            // You can now initialize Spotify.Player and use the SDK
            const player = new Spotify.Player({
                name: 'Web Playback SDK Quick Start Player',
                // getOAuthToken: cb => { cb(token); }
            });
            // 'use strict';
            var play = function play(_ref) {
                var spotify_uri = _ref.spotify_uri,
                    _ref$playerInstance$_ = _ref.playerInstance._options,
                    getOAuthToken = _ref$playerInstance$_.getOAuthToken,
                    id = _ref$playerInstance$_.id;
                // getOAuthToken(function (access_token) {
                fetch('https://api.spotify.com/v1/me/player/play?device_id=' + id, {
                    method: 'PUT',
                    body: JSON.stringify({ uris: [spotify_uri] }),
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer BQCD3EyBHawqw4lNl9vi6vmglZF0XKKPi38JTj968GvWEERVRbHeENHLWx1KgqYFOepcDtWyE0kZWXi0Ik0KEH9m5ziN-IXtLmj2TrG63amG96Mn7Hi_dCRrLmKmPDkxGdndGWfKo1IUdagcsgE9a72bfYmcCNJNI12h9bAVCm8'
                    }
                });
                // });
            };
            play({
                playerInstance: new Spotify.Player({ name: "..." }),
                spotify_uri: 'spotify:track:7xGfFoTpQ2E7fRF5lN10tr'
            });
        };
    </script> --}}
</head>

<body>
    {{{ body }}}
</body>

</html>